/* *{
    outline: solid red 1px;
} */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background: #ffffff;
    color: #95989A;
    margin:0;
}
#app{
    max-width: 680px;
    margin:auto;
}

.moods{
    margin: 5rem;
}

.moods button{
    background: transparent;
    border: solid #95989A 1px;
    border-radius: 50%;
    font-size: 48px;
    padding: .4em;
    margin: 0 .2em;
    transition: background .2s ease-in-out;
}

.moods button.active{
    background: #ADEFD1FF;
}

.moods button:hover{
    cursor: pointer;
    background: rgba(173, 239, 209,.1);
}

.moods button.active:hover{
    background: #ADEFD1FF;
}

.btn-generate{
    margin: 0 5em;
    padding: 1em 2em;

    font-size: 1rem;

    text-align: center;
    color: white;
    background: #00203FFF;
    border: none;
    border-radius: 2em;
    transition:  background .2s ease-in-out;
}

.btn-generate:hover{
    cursor: pointer;
    background:rgba(0, 32, 63,.8);
}


.playlist{
    border: solid 1px #95989A;
    padding: 3em;
    border-radius: 1em;
    margin: 5rem 0;
}

.playlist .track, .no-track{
    margin: 1em;
}

.playlist .track{
    display: grid;
    grid-template-columns: 1fr auto;
    border: solid 1px #95989A;
    border-radius: 4em;
    
}

.playlist .track-info{
    position: relative;
    overflow: hidden;
    padding: 1em 2.2em;
}

.playlist .track-name{
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

.playlist .track-artist{
    position: relative;
    z-index: 1;
    font-size: .8em;
}

.playlist .btn-controls{
    display: grid;
    grid-template-columns: auto auto;
}


.playlist .btn-controls div{
    border-left: solid 1px #95989A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    transition: background 300ms ease-in-out;
}


.playlist .btn-controls div:hover{
    cursor: pointer;
    background: #efefefef;
}


.playlist .btn-stop{
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

.playlist .btn-controls div.btn-disabled, .playlist .btn-controls div.btn-disabled:hover{
    background:transparent;
    color: rgba(149, 152, 154, 0.15);
    cursor: initial;
    transition: 500ms ease-out ;
}

.playlist .track-player-wrapper{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
}

.playlist .track-player.active{
    height: 100%;
    opacity: .5;
    background: #ADEFD1FF;
}